@import "~normalize.css";

.field {
  position: absolute;
  display: grid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  background-color: black;
  gap: 3px;
  padding: 3px;
  
}

.chip {
  background-color: rgba(255, 0, 0, 0.3);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}

.empty {
  visibility: hidden;
}